/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    margin: 0;
    font-size: 24px;
}

/* 지도와 사이드바 컨테이너 */
#map {
    width: 70%;
    height: 500px;
    border-right: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e0e0e0;
}

#side-bar {
    width: 30%;
    background-color: #fff;
    border-left: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#side-bar ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

#side-bar ul li {
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

#side-bar ul li:hover {
    background-color: #d0d0d0;
}

/* 후보자 리스트 */
#candidate-list {
    padding: 20px;
    display: inline-block;
}

.candidate-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.candidate-text {
    flex: 1;
}

.candidate-thumbnail {
    margin-left: 10px;
    width: 80px;
    height: 80px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.candidate-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.candidate-tags {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}

.candidate-tags span {
    margin-right: 5px;
}

.candidate-title {
    color: gray;
    font-size: 14px;
    margin-bottom: 5px;
}

.candidate-description {
    font-size: 16px;
}


.area {
    background: #fff;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    color: black;
}

.name {
    text-align: center;
    font-weight: bold;
}